In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Osiris_Export_1(tlansed).csv")

In [3]:
df

,Mark,Company name,Country code (incorp),GICS code,Cons. code,Operating Rev./ Turnover th USD Last avail. yr,Number of employees Last avail. yr,Indep. Ind.,ISIN Number,Cash & Cash Equivalents at the End of Period th USD Last avail. yr,...,Ordinary dividends th USD Year - 3.4,Ordinary dividends th USD Year - 4.4,Ordinary dividends th USD Year - 5.4,Dividend share capital other th USD Last avail. yr.4,Dividend share capital other th USD Year - 1.4,Dividend share capital other th USD Year - 2.4,Dividend share capital other th USD Year - 3.4,Dividend share capital other th USD Year - 4.4,Dividend share capital other th USD Year - 5.4,Moody's Long-Term Rating
0,1,WALMART INC.,US,30101040.0,C1,"611,289,000","2,100,000",B+,US9311421039,n.a.,...,"6,048,000","6,102,000","6,124,000",n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,Aa2
1,2,SAUDI ARABIAN OIL COMPANY SAUDI JOINT STOCK CO...,SA,10102010.0,C1,"604,366,165","70,496",D,SA14TG012N13,"60,279,203",...,"3,936,000",0,0,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,A1
2,3,"AMAZON.COM, INC.",US,25503030.0,C1,"513,983,000","1,541,000",A+,US0231351067,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,A1
3,4,CHINA PETROLEUM & CHEMICAL CORPORATION,CN,10102010.0,C1,"431,414,669","385,691",D,CNE0000018G1,"17,046,025",...,"7,420,108","9,296,486","4,337,823",n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,A1
4,5,PETROCHINA COMPANY LIMITED,CN,10102010.0,C1,"412,368,455","417,173",D,CNE1000003W8,"21,472,592",...,"4,775,135","3,653,941","1,562,059",n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,267,CHS INC.,US,30202010.0,C1,"47,791,666","10,014",A-,US12542R2094,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN
267,268,GREAT-WEST LIFECO INC.,CA,40301020.0,C1,"47,576,271",n.a.,D,CA39138C1068,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN
268,269,BANDAR ABBAS OIL REFINING COMPANY PUBLIC JOINT...,IR,NaN,C1,"47,495,404","3,666",B+,IRO1PNBA0003,"188,765",...,"558,571","201,097","276,664",n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN
269,270,"GOLDMAN SACHS GROUP, INC",US,40203020.0,C2,"47,398,000","48,500",A+,US38141G1040,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN
270,271,POWER FINANCIAL CORP,CA,40301020.0,C1,"47,376,316",n.a.,D,CA73927C1005,"7,239,580",...,"704,495","906,825","935,017",n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN

In [4]:
df=df.dropna(subset=["Moody's Long-Term Rating"])

In [5]:
df.dtypes

Mark                                                int64
Company name                                       object
Country code (incorp)                              object
GICS code                                         float64
Cons. code                                         object
                                                   ...
Dividend share capital other th USD Year - 2.4     object
Dividend share capital other th USD Year - 3.4     object
Dividend share capital other th USD Year - 4.4     object
Dividend share capital other th USD Year - 5.4     object
Moody's Long-Term Rating                           object
Length: 3682, dtype: object

In [6]:
df = df.drop(labels=["Country code (incorp)",'Company name', 'Mark','GICS code',"Operating Rev./ Turnover th USD Last avail. yr","ISIN Number"], axis=1)

In [7]:
df

,Cons. code,Number of employees Last avail. yr,Indep. Ind.,Cash & Cash Equivalents at the End of Period th USD Last avail. yr,Cash & Cash Equivalents at the End of Period th USD Year - 1,Cash & Cash Equivalents at the End of Period th USD Year - 2,Cash & Cash Equivalents at the End of Period th USD Year - 3,Cash & Cash Equivalents at the End of Period th USD Year - 4,Cash & Cash Equivalents at the End of Period th USD Year - 5,Cash & Cash Equivalents at the Beginning of Period th USD Last avail. yr,...,Ordinary dividends th USD Year - 3.4,Ordinary dividends th USD Year - 4.4,Ordinary dividends th USD Year - 5.4,Dividend share capital other th USD Last avail. yr.4,Dividend share capital other th USD Year - 1.4,Dividend share capital other th USD Year - 2.4,Dividend share capital other th USD Year - 3.4,Dividend share capital other th USD Year - 4.4,Dividend share capital other th USD Year - 5.4,Moody's Long-Term Rating
0,C1,"2,100,000",B+,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,"6,048,000","6,102,000","6,124,000",n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,Aa2
1,C1,"70,496",D,"60,279,203","79,887,737","55,261,870","47,388,269","48,840,536","21,664,534","79,887,737",...,"3,936,000",0,0,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,A1
2,C1,"1,541,000",A+,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,A1
3,C1,"385,691",D,"17,046,025","13,398,674","8,650,064","16,331,826","17,387,124","17,909,581","13,744,663",...,"7,420,108","9,296,486","4,337,823",n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,A1
5,C1,"62,000",A+,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,"14,652,000","13,798,000","13,001,000",n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,Aa2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,C1,n.a.,D,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,"30,182",n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,WR
262,C1,n.a.,C,"213,876","1,843,761","617,000","1,088,000","328,000","917,000","1,711,010",...,"5,044,000","4,772,000","2,918,000",n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,WR
263,C1,"129,700",A+,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,"180,000","188,000","198,000",n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,B2
264,C1,"129,700",D,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,Ba3
265,C2,n.a.,A+,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,(P)A2

In [8]:
y=df["Moody's Long-Term Rating"]

In [9]:
categories=df[["Cons. code","Indep. Ind."]]

In [10]:
nums=df.drop(["Moody's Long-Term Rating","Cons. code","Indep. Ind."],axis=1)

In [11]:
import numpy as np
nums=nums.replace("n.a.",0)

In [12]:
nums=nums.astype("float32")

,Number of employees Last avail. yr,Cash & Cash Equivalents at the End of Period th USD Last avail. yr,Cash & Cash Equivalents at the End of Period th USD Year - 1,Cash & Cash Equivalents at the End of Period th USD Year - 2,Cash & Cash Equivalents at the End of Period th USD Year - 3,Cash & Cash Equivalents at the End of Period th USD Year - 4,Cash & Cash Equivalents at the End of Period th USD Year - 5,Cash & Cash Equivalents at the Beginning of Period th USD Last avail. yr,Cash & Cash Equivalents at the Beginning of Period th USD Year - 1,Cash & Cash Equivalents at the Beginning of Period th USD Year - 2,...,Ordinary dividends th USD Year - 2.4,Ordinary dividends th USD Year - 3.4,Ordinary dividends th USD Year - 4.4,Ordinary dividends th USD Year - 5.4,Dividend share capital other th USD Last avail. yr.4,Dividend share capital other th USD Year - 1.4,Dividend share capital other th USD Year - 2.4,Dividend share capital other th USD Year - 3.4,Dividend share capital other th USD Year - 4.4,Dividend share capital other th USD Year - 5.4
0,"2,100,000",0,0,0,0,0,0,0,0,0,...,"6,116,000","6,048,000","6,102,000","6,124,000",0,0,0,0,0,0
1,"70,496","60,279,203","79,887,737","55,261,870","47,388,269","48,840,536","21,664,534","79,887,737","55,261,870","47,388,269",...,"18,754,934","3,936,000",0,0,0,0,0,0,0,0
2,"1,541,000",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"385,691","17,046,025","13,398,674","8,650,064","16,331,826","17,387,124","17,909,581","13,744,663","9,248,496","16,019,321",...,"5,371,833","7,420,108","9,296,486","4,337,823",0,0,0,0,0,0
5,"62,000",0,0,0,0,0,0,0,0,0,...,"14,865,000","14,652,000","13,798,000","13,001,000",0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,0,0,0,0,0,0,0,0,0,0,...,0,0,0,"30,182",0,0,0,0,0,0
262,0,"213,876","1,843,761","617,000","1,088,000","328,000","917,000","1,711,010",0,"1,088,000",...,0,"5,044,000","4,772,000","2,918,000",0,0,0,0,0,0
263,"129,700",0,0,0,0,0,0,0,0,0,...,"43,000","180,000","188,000","198,000",0,0,0,0,0,0
264,"129,700",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
265,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
categories=pd.get_dummies(categories)

In [38]:
categories=categories.astype('float32')

In [15]:
y

0        Aa2
1         A1
2         A1
3         A1
5        Aa2
       ...
261       WR
262       WR
263       B2
264      Ba3
265    (P)A2
Name: Moody's Long-Term Rating, Length: 202, dtype: object

In [16]:
y.value_counts()

Baa1     32
Baa2     30
A2       24
A3       23
A1       23
WR       16
Baa3     15
Aa2      11
Aa3       8
Ba3       4
Ba2       4
Aaa       4
Caa2      2
Ba1       1
(P)A1     1
B1        1
Aa1       1
B2        1
(P)A2     1
Name: Moody's Long-Term Rating, dtype: int64

In [17]:
mapping = {
    'Aaa': 21, 'Aa1': 20, 'Aa2': 19, 'Aa3': 18,
    'A1': 17, 'A2': 16, 'A3': 15,
    'Baa1': 14, 'Baa2': 13, 'Baa3': 12,
    'Ba1': 11, 'Ba2': 10, 'Ba3': 9,
    'B1': 8, 'B2': 7, 'B3': 6,
    'Caa1': 5, 'Caa2': 4, 'Caa3': 3,
    'Ca': 2, 'C': 1, 'WR': 0,
    '(P)Aaa': 21.25, '(P)Aa1': 20.25, '(P)Aa2': 19.25, '(P)Aa3': 18.25,
    '(P)A1': 17.25, '(P)A2': 16.25, '(P)A3': 15.25,
    '(P)Baa1': 14.25, '(P)Baa2': 13.25, '(P)Baa3': 12.25,
    '(P)Ba1': 11.25, '(P)Ba2': 10.25, '(P)Ba3': 9.25,
    '(P)B1': 8.25, '(P)B2': 7.25, '(P)B3': 6.25,
    '(P)Caa1': 5.25, '(P)Caa2': 4.25, '(P)Caa3': 3.25,
    '(P)Ca': 2.25, '(P)C': 1.25, '(P)WR': 0.25,
    '(M)Aaa': 20.75, '(M)Aa1': 19.75, '(M)Aa2': 18.75, '(M)Aa3': 17.75,
    '(M)A1': 16.75, '(M)A2': 15.75, '(M)A3': 14.75,
    '(M)Baa1': 13.75, '(M)Baa2': 12.75, '(M)Baa3': 11.75,
    '(M)Ba1': 10.75, '(M)Ba2': 9.75, '(M)Ba3': 8.75,
    '(M)B1': 7.75, '(M)B2': 6.75, '(M)B3': 5.75,
    '(M)Caa1': 4.75, '(M)Caa2': 3.75, '(M)Caa3': 2.75,
    '(M)Ca': 1.75, '(M)C': 0.75, '(M)WR': -0.25}

In [18]:
y_formed= y.map(mapping)

In [19]:
y_formed

0      19.00
1      17.00
2      17.00
3      17.00
5      19.00
       ...
261     0.00
262     0.00
263     7.00
264     9.00
265    16.25
Name: Moody's Long-Term Rating, Length: 202, dtype: float64

In [20]:
merged_df = pd.concat([nums,categories,y_formed ], axis=1)

In [21]:
merged_df

,Number of employees Last avail. yr,Cash & Cash Equivalents at the End of Period th USD Last avail. yr,Cash & Cash Equivalents at the End of Period th USD Year - 1,Cash & Cash Equivalents at the End of Period th USD Year - 2,Cash & Cash Equivalents at the End of Period th USD Year - 3,Cash & Cash Equivalents at the End of Period th USD Year - 4,Cash & Cash Equivalents at the End of Period th USD Year - 5,Cash & Cash Equivalents at the Beginning of Period th USD Last avail. yr,Cash & Cash Equivalents at the Beginning of Period th USD Year - 1,Cash & Cash Equivalents at the Beginning of Period th USD Year - 2,...,Cons. code_C1,Cons. code_C2,Indep. Ind._-,Indep. Ind._A+,Indep. Ind._B+,Indep. Ind._C,Indep. Ind._C+,Indep. Ind._D,Indep. Ind._U,Moody's Long-Term Rating
0,"2,100,000",0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,19.00
1,"70,496","60,279,203","79,887,737","55,261,870","47,388,269","48,840,536","21,664,534","79,887,737","55,261,870","47,388,269",...,1,0,0,0,0,0,0,1,0,17.00
2,"1,541,000",0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,17.00
3,"385,691","17,046,025","13,398,674","8,650,064","16,331,826","17,387,124","17,909,581","13,744,663","9,248,496","16,019,321",...,1,0,0,0,0,0,0,1,0,17.00
5,"62,000",0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,19.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0.00
262,0,"213,876","1,843,761","617,000","1,088,000","328,000","917,000","1,711,010",0,"1,088,000",...,1,0,0,0,0,1,0,0,0,0.00
263,"129,700",0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,7.00
264,"129,700",0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,9.00
265,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,16.25

In [36]:
merged_df.dtypes

Number of employees Last avail. yr                                     object
Cash & Cash Equivalents at the End of Period th USD Last avail. yr     object
Cash & Cash Equivalents at the End of Period th USD Year - 1           object
Cash & Cash Equivalents at the End of Period th USD Year - 2           object
Cash & Cash Equivalents at the End of Period th USD Year - 3           object
                                                                       ...
Indep. Ind._C                                                           uint8
Indep. Ind._C+                                                          uint8
Indep. Ind._D                                                           uint8
Indep. Ind._U                                                           uint8
Moody's Long-Term Rating                                              float64
Length: 3683, dtype: object

In [31]:
learn=merged_df[:150]
test=merged_df[150:]

In [32]:
laern_y=learn["Moody's Long-Term Rating"].values
laern_x=learn.drop("Moody's Long-Term Rating",axis=1).values

In [33]:
test_y=test["Moody's Long-Term Rating"].values
test_x=test.drop("Moody's Long-Term Rating",axis=1).values

In [25]:
laern_x

,Number of employees Last avail. yr,Cash & Cash Equivalents at the End of Period th USD Last avail. yr,Cash & Cash Equivalents at the End of Period th USD Year - 1,Cash & Cash Equivalents at the End of Period th USD Year - 2,Cash & Cash Equivalents at the End of Period th USD Year - 3,Cash & Cash Equivalents at the End of Period th USD Year - 4,Cash & Cash Equivalents at the End of Period th USD Year - 5,Cash & Cash Equivalents at the Beginning of Period th USD Last avail. yr,Cash & Cash Equivalents at the Beginning of Period th USD Year - 1,Cash & Cash Equivalents at the Beginning of Period th USD Year - 2,...,Dividend share capital other th USD Year - 5.4,Cons. code_C1,Cons. code_C2,Indep. Ind._-,Indep. Ind._A+,Indep. Ind._B+,Indep. Ind._C,Indep. Ind._C+,Indep. Ind._D,Indep. Ind._U
0,"2,100,000",0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1,"70,496","60,279,203","79,887,737","55,261,870","47,388,269","48,840,536","21,664,534","79,887,737","55,261,870","47,388,269",...,0,1,0,0,0,0,0,0,1,0
2,"1,541,000",0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
3,"385,691","17,046,025","13,398,674","8,650,064","16,331,826","17,387,124","17,909,581","13,744,663","9,248,496","16,019,321",...,0,1,0,0,0,0,0,0,1,0
5,"62,000",0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,"58,000",0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
182,"96,000","2,143,900","3,015,800","3,641,500","706,400","666,200","637,600","3,015,800","3,641,500","706,400",...,0,1,0,0,1,0,0,0,0,0
183,"23,500",0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
185,"721,000","7,889,833","8,168,174","8,415,330","6,126,853","5,061,360","4,126,860","8,168,174","8,415,330","6,126,853",...,0,1,0,0,1,0,0,0,0,0
186,0,"7,479,749","2,885,410","2,702,814","1,896,702","1,632,733","1,871,780","2,701,671","2,478,225","2,018,384",...,0,0,1,0,0,1,0,0,0,0

In [26]:
#成型官僚
#tensorflowで実験

In [34]:
import tensorflow as tf

In [35]:
# モデルの構築
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_dim=laern_x.shape[1]),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1)
])

# モデルのコンパイル
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

# モデルの学習
history = model.fit(laern_x, laern_y, epochs=100, batch_size=32, validation_split=0.1)

# テストデータでの評価
test_loss, test_mae = model.evaluate(test_x, test_y)
print('Test MAE:', test_mae)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).